{% extends 'clusters/main.html' %}


{% block content %}


    <div class="table table-sm">
        <div class="col-md-12">
        <h4> AGED Cluster database:</h4>
        <hr>
        <div class="card">
            <a class="btn btn-info btn-sm btn-block" href="">All clusters</a>
            <table class="table">
                <tr>
                    <th>РИС наименование</th>
                    <th>РДС</th>
                    <th>Статус РДС</th>
                    <th>Namespace LT</th>
                    <th>Кластер LT</th>
                    <th>Namespace PROD</th>
                    <th>Кластер PROD</th>
                    <th>Заявки на доступ(РЗ)</th>
                </tr>

            </table>
        </div>
      </div>
    </div>
{% endblock %}




