<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="total-clusters">
                <div class="card-header">
                    <h5 class="card-title">Количество Кластеров</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_clusters }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="jira-tickets">
                <div class="card-header">
                    <h5 class="card-title">Количество заведенных тикетов</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_tickets }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>